<hello name="{{ name }}"></hello>
<p>Start editing to see some magic happen :)</p>
<div style="text-align:center; margin-bottom:20px">
  <input placeholder="Add the list" (input)="change($event)" />
</div>
<div style="text-align: center">
  <button (click)="push()">Push</button>
  <button (click)="pop()">Pop</button>
  <button (click)="picked()">Picked</button>
  <button (click)="checkEmpty()">Empty</button>
  <button (click)="checkFull()">isFull</button>
</div>

<div
  *ngIf="this.list.length > 0 && this.list.length <= 5"
  style="text-align:center; margin-top:20px"
>
  List is not empty 😊!!
</div>
<div *ngIf="this.list.length > 5" style="text-align:center; margin-top:20px">
  List is Full 😒!!
</div>
<div
  *ngIf="this.lastPicked && this.list.length != 0"
  style="text-align:center; margin-top:20px"
>
  The last Element picked
  <span style="font-weight: bold"> {{ this.lastPicked }} </span>
</div>
<div>
  <ul>
    <li *ngFor="let item of list">{{ item }}</li>
  </ul>
</div>
